@import "tailwindcss";

@theme {
  --color-primary-50: #eef2ff;
  --color-primary-100: #e0e7ff;
  --color-primary-500: #4361ee;
  --color-primary-600: #3a56d4;
  --color-primary-700: #2f45ab;

  --color-secondary-50: #ecfeff;
  --color-secondary-500: #4cc9f0;
  --color-secondary-600: #3db5db;

  --color-accent-500: #f72585;
  --color-accent-600: #db1e72;

  --color-success-500: #10b981;
  --color-error-500: #ef4444;

  --color-background-light: #f8fafc;
  --color-surface-light: #ffffff;
  
  --color-background-dark: #0b0f1a;
  --color-surface-dark: #161b2e;

  --font-poppins: "Poppins", sans-serif;
}